* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
font-size: 62.5%;
}
#title {
  background: #262626;
  color: white;
  text-align: center;
  position: fixed;
  width:100%;
  bottom: 0;
  height: auto;
}
#nav-bar {
  background: #262626;
  color: white;
  padding-left: 4rem;
  height: auto;
  position: fixed;
  top:0;
  bottom: 0;
}

#nav-bar-title {
  font-size: 1.4rem;
}

#nav-bar-list {
  list-style-type: none;
}

#nav-bar-list li {
  font-size: 1.3rem;
  padding: 2rem 1.5rem;
}

#nav-bar-list li a {
  color: #bfbfbf;

}

#main-doc {
}

#main-doc::after {
  content: "";
  display: table;
  clear: both;
}

.title-container {
  position: absolute;
  top: 0;
  left: 0;
}
main {
  background: white;
  color: black;
  font-size: 1.2rem;
  margin-left: 2rem;

}
header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.header {
  padding: 2rem 0;
}
.header--title {
  font-size: 2.4rem;
}
.header--subtitle {
  padding-top: 1rem;
  font-size: 1.8rem;
}

.main-section {
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}

.main-section-subtitle {
  padding-bottom: 1rem;
}

p {
  line-height: 1.3em;
  margin-bottom: 1rem;
}

.main-section-title {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}
dt {
  font-size: 1.4rem;
  font-variant: small-caps;
}


@media screen and (max-width:480px) {
  #grid {
    display: flex;
    flex-direction: column;
  }

.safety-cat-list li {
  margin-left:3rem;
}
