body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {font-size: 1.6rem;}
h2 {font-size: 1.3rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1.1rem;}
p {font-size: 1rem;}

.outer-container {
  border: 0;
  margin: 0px auto;
  width: 100vw;
}

#title-container {
  background: repeating-linear-gradient(45deg, yellow 0px, yellow 60px, black 60px, black 120px);
  color: red;
  padding: 2rem 0;
  width: 100%;
}
#title-container h1, h2 {
  color: red;
  text-align: center;

}
#title-container h1 {
  font-size: 2.2rem;
  padding: 1rem 0 .5rem 0;
}
#title-container h2 {
  font-size: 1.7rem;
  padding: 0 0 1rem 0;
}

#title {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#navbar {
  background: linear-gradient(to top,rgba(0,0,0,.2) 20%, rgba(0,0,0,.4) 75%, rgba(0,0,0,.8) 100%);
  width: 100%;
}

#nav-bar-title {
  color: #eee;
  font-size: 1.8rem;
  padding: 2rem 1rem;
  text-align: center;
}

#nav-bar-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  height: auto;
  padding-bottom: 2rem;
  list-style: none;
}

#nav-bar-list li {
  margin: 1rem;
}
#nav-bar-list a {
  color: #000;
  font-size: 1.3em;
  font-variant: small-caps;
  text-decoration: none;
  padding: .5rem;
}

#nav-bar-list a:hover {
  background: #fff;
  color: #222;
  padding: 1rem 2rem;
  border-radius: 10px;
}
#main-doc {
  margin: 1rem;
}

.main-section-title {
  font-size: 1.4rem;
}

@media screen and (min-width: 980px) {

  #title-container {
    position: fixed;
    height: 20vh;
    top: 0;
    left: 0;
  }

  #outer-container {
    width: 100vw
  }
  #main-doc {
    margin-top: 30vh;;
    float: right;
    width: 65%;
  }
  #main-doc::after {
    content: '';
    display: table;
    clear: both;
  }
  #navbar {
    position: fixed;
    float: left;
    height: 100vh;
    top: 27vh;;
    margin-top: 0;
    width: 30%;
  }

  #nav-bar-list {
    flex-flow: column nowrap;
    margin: 2rem 1rem;
  }

  #navbar::after {
    content: '';
    display: table;
    clear: both;
  }

  #Stay_Out {
    margin-top: 2vw;
  }

}
